################################################################################
# NOTE:  The following 'check_local_...' functions are designed to monitor
#        various metrics on the host that Nagios is running on (i.e. this one).
################################################################################

# 'check_local_disk' command definition
define command{
	command_name    check_local_disk
	command_line    $USER1$/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
	}


# 'check_local_load' command definition
define command{
	command_name    check_local_load
	command_line    $USER1$/check_load -w $ARG1$ -c $ARG2$
	}


# 'check_local_procs' command definition
define command{
	command_name    check_local_procs
	command_line    $USER1$/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
	}


# 'check_local_users' command definition
define command{
	command_name    check_local_users
	command_line    $USER1$/check_users -w $ARG1$ -c $ARG2$
	}


# 'check_local_swap' command definition
define command{
	command_name	check_local_swap
	command_line	$USER1$/check_swap -w $ARG1$ -c $ARG2$
	}


# 'check_local_mrtgtraf' command definition
define command{
	command_name	check_local_mrtgtraf
	command_line	$USER1$/check_mrtgtraf -F $ARG1$ -a $ARG2$ -w $ARG3$ -c $ARG4$ -e $ARG5$
	}

################################################################################
# NOTE:  The following 'check_...' commands are used to monitor services on
#        both local and remote hosts.
################################################################################

# 'check_ftp' command definition
define command{
	command_name    check_ftp
	command_line    $USER1$/check_ftp -H $HOSTADDRESS$ $ARG1$
	}


# 'check_hpjd' command definition
define command{
	command_name    check_hpjd
	command_line    $USER1$/check_hpjd -H $HOSTADDRESS$ $ARG1$
	}


# 'check_snmp' command definition
define command{
	command_name    check_snmp
	command_line    $USER1$/check_snmp -H $HOSTADDRESS$ -C $ARG1$
	}


# 'check_http' command definition
define command{
	command_name    check_http
	command_line    $USER1$/check_http -I $HOSTADDRESS$ $ARG1$
	}


# 'check_ssh' command definition
define command{
	command_name	check_ssh
	command_line	$USER1$/check_ssh $ARG1$ $HOSTADDRESS$
	}


# 'check_dhcp' command definition
define command{
	command_name	check_dhcp
	command_line	$USER1$/check_dhcp $ARG1$
	}


# 'check_ping' command definition
define command{
	command_name    check_ping
	command_line    $USER1$/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
	}


# 'check_pop' command definition
define command{
	command_name    check_pop
	command_line    $USER1$/check_pop -H $HOSTADDRESS$ $ARG1$
	}


# 'check_imap' command definition
define command{
	command_name    check_imap
	command_line    $USER1$/check_imap -H $HOSTADDRESS$ $ARG1$
	}


# 'check_smtp' command definition
define command{
	command_name    check_smtp
	command_line    $USER1$/check_smtp -H $HOSTADDRESS$ $ARG1$
	}


# 'check_tcp' command definition
define command{
	command_name	check_tcp
	command_line	$USER1$/check_tcp -H $HOSTADDRESS$ -p $ARG1$ $ARG2$
	}


# 'check_udp' command definition
define command{
	command_name	check_udp
	command_line	$USER1$/check_udp -H $HOSTADDRESS$ -p $ARG1$ $ARG2$
	}

# 'check_nt' command definition
define command{
	command_name	check_nt
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489 -v $ARG1$ $ARG2$
	}

# 'check_nrpe' command definition
define command{
	command_name           check_nrpe
	command_line           /usr/local/nagios/libexec/check_nrpe -H $HOSTADDRESS$ -n -c $ARG1$
	}